<div class="top-menu">
    <img class="logo"
         src="https://angular-academy.s3.amazonaws.com/main-logo/main-page-logo-small-hat.png">
</div>

<!-- Pipes -->
<!-- <div class="demo">
  <div>Start Date: {{ startDate | date: 'MMM/dd/yyyy' }}</div>
  <div>{{ title | titlecase }}</div>
  <div>{{ price | number: '3.3-5' }}</div>
  <div>{{ price | currency: 'GBP' }}</div>
  <div>Percentage: {{ rate | percent }}</div>
</div> -->

<!-- {{ courses | json }} -->

<!-- <div *ngFor="let pair of course | keyvalue">
  {{ pair.key + ': ' + pair.value }}
</div> -->

<div class="courses" *ngIf="courses[5] as course">

  <my-card [course]="course" (courseSelected)="onCourseSelected($event)">
    
    <div class="course-image">
      <img width="300" alt="Angular Logo" [src]="course.iconUrl">
      <h5>Total lessons: 5</h5>
    </div>

    <div class="course-description">
      {{ course.longDescription }}
    </div>

    Edit Description: <textarea></textarea>

  </my-card>

  <my-card [course]="courses[3]" (courseSelected)="onCourseSelected($event)">
    <h5>Total lessons: 10</h5>
  </my-card>

    <!-- @for (course of courses; track course.id) {
        <my-card
            [cardIndex]="$index + 1"
            [course]="course"
            (courseSelected)="onCourseSelected($event)"/>
    } -->

</div>
