<div class="top-menu">
    <img class="logo"
         src="https://angular-academy.s3.amazonaws.com/main-logo/main-page-logo-small-hat.png">
</div>

<div class="courses">

  <my-card
    *ngFor="let course of courses; let i = index;"
    [cardIndex]="i + 1"
    [course]="course"
    (courseSelected)="onCourseSelected($event)">
  </my-card>

    <!-- @for (course of courses; track course.id) {
        <my-card
            [cardIndex]="$index + 1"
            [course]="course"
            (courseSelected)="onCourseSelected($event)"/>
    } -->

</div>
