<div class="courses">
    <div class="course-card">
        <div class="course-title">
            {{ cardIndex + ' ' + course.description }}
        </div>

        @if (course.id == 1) {
            <h2>Course with ID 1 detected!</h2>
        } @else if (course.iconUrl) {
            <img width="300" alt="Angular Logo"
                 [src]="course.iconUrl">
        } @else {
            <h3>No image available.</h3>
        }

        <div class="course-description">
            {{ course.longDescription }}
        </div>

        <button (click)="onCourseViewed()">View Course</button>
    </div>
</div>